# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
.vs/FSBankNet/v17/Solution.VC.db-wal
.vs/FSBankNet/v17/Solution.VC.db-shm
.vs/FSBankNet/v17/Solution.VC.db
.vs/FSBankNet/v17/ipch/AutoPCH/b4ffc54b8630a2d8/SOURCE.ipch
.vs/FSBankNet/v17/ipch/AutoPCH/7b2e50621bc991e3/SOURCE.ipch
.vs/FSBankNet/v17/Browse.VC.opendb
.vs/FSBankNet/v17/Browse.VC.db-wal
.vs/FSBankNet/v17/Browse.VC.db-shm
.vs/FSBankNet/v17/Browse.VC.db
.vs/FSBankNet/v17/.suo
.vs/FSBankNet/v17/.futdcache.v1
.vs/FSBankNet/project-colors.json
.vs/FSBankNet/DesignTimeBuild/.dtbcache.v2
